<app-tabela
  [displayedColumns]="masterDisplayedColumns"
  [dados]="data"
  [headerTitle]="headerTitle"
  [pageSizeOptions]="pageSizeOptions"
  (selectedRow)="onSelectedRow($event)"
  [showSelect]="true"
  (acaoSelecionada)="propagate($event)"
>
  <div class="form-group" slot="filter">
    <ng-content select="[slot=tab-master-filter]"> </ng-content>
  </div>
</app-tabela>

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1 col-md-12">
        <div class="card d-flex flex-row-reverse p-1">
          <div class="codigo-cliente">
            Cliente Selecionado:{{ selectedItem?.codcli }} -
            {{ selectedItem?.nomcli }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-tabela
  *ngIf="detailData?.length > 0"
  [displayedColumns]="detailDisplayedColumns"
  [dados]="detailData"
  [headerTitle]="''"
  [pageSizeOptions]="pageSizeOptions"
  [showHeader]="false"
  [showFilter]="false"
  [marginTop]="false"
></app-tabela>

<ng-content></ng-content>
