<div class="main-content">
  <div class="container-fluid">
    <p>Criar novas atividades</p>
    <p>verificar presenca de alunos</p>
    <p>Corrigir atividades</p>
    <p>ver notas de alunos</p>
    <p>Calendario / Agenda para turma</p>
    <p>Calendario / Agenda para professor</p>
    <p>Emitir boletim</p>
    <p>Criar questionarios</p>
    <p>Criar engine para correcao automatica dos questionarios</p>

    <p>
      Criar app simples para notificacao de atividades pendentes e lembretes
    </p>
    <p>
      implementar sistema de notificacoes para atividades disponiveis, prazos e
      notas
    </p>
    <p></p>
    <p></p>
  </div>
</div>
