<div>
  <div class="header" *ngIf="currentUser$ | async as currentUser">
    <div class="center">
      <img
        mat-card-image
        [src]="currentUser.photoURL"
        alt="account"
        height="150"
        style="border-radius: 15px"
      />
    </div>
    <div style="color: white">
      <div>{{ currentUser.displayName }}</div>
      <div>{{ currentUser.email }}</div>
    </div>
  </div>
  <div class="content">
    <div class="menu">
      <div
        *ngFor="let menuItem of MENU_ITEMS"
        class="row"
        [ngClass]="selectedItem == menuItem.label ? 'menu-selected' : ''"
        [routerLink]="menuItem.routerLink"
        (click)="selectedItem = menuItem.label"
      >
        <div class="menu-icon">
          <mat-icon
            aria-hidden="false"
            matBadge="7"
            [matBadgeHidden]="!!!menuItem.showBadge"
            >{{ menuItem.icon }}</mat-icon
          >
        </div>
        <div>{{ menuItem.label }}</div>
      </div>

      <div class="row" (click)="logout()">
        <div class="menu-icon">
          <mat-icon aria-hidden="false">exit_to_app</mat-icon>
        </div>
        <div>Logout</div>
      </div>
    </div>
    <div class="footer">
      <hr />
      <div class="stats">Arnaldo C. Bezerra®</div>
    </div>
  </div>
</div>
