<div
  class="main-content"
  style="display: inline-block; height: 100%; width: 100%"
>
  <div class="container-fluid" style="height: 100%">
    <div class="row" style="height: 100%">
      <div class="col-md-12">
        <div class="card mt-1 scroll-99">
          <div class="content h-100">
            <div class="row h-100">
              <div
                class="col-md-2 menu-lateral"
                style="margin-left: 7px"
                *ngIf="isLoggedIn()"
              >
                <app-menu></app-menu>
              </div>

              <div
                [ngClass]="isLoggedIn() ? 'col-md-10' : 'col-md-12'"
                style="margin-left: -7px"
              >
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
