<div class="main-content mt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1 col-md-12">
        <mat-tab-group animationDuration="0ms">
          <mat-tab label="Identificação">
            <ng-template matTabContent>
              <div class="card">
                <div class="header">
                  <div class="row">
                    <div class="form-group col-md-10">
                      <h4 class="title">Informações Gerais</h4>
                    </div>

                    <div class="form-group col-md-2 d-flex flex-row-reverse">
                      <button
                        (click)="voltar()"
                        class="btn btn-info btn-fill col-md-12"
                      >
                        Voltar
                      </button>
                      <button
                        class="mr-1 btn btn-success btn-fill col-md-12"
                        (click)="update()"
                      >
                        Gravar
                      </button>
                    </div>
                  </div>
                </div>
                <div class="content">
                  <div class="form-group">
                    <button class="btn btn-info btn-fill col-md-2 form-control">
                      Notas
                    </button>

                    <button class="btn btn-info btn-fill col-md-2 form-control">
                      Frequência
                    </button>

                    <button class="btn btn-info btn-fill col-md-2 form-control">
                      Atividades
                    </button>

                    <button class="btn btn-info btn-fill col-md-2 form-control">
                      Mensagens
                    </button>

                    <button class="btn btn-info btn-fill col-md-2 form-control">
                      Lembretes
                    </button>
                  </div>
                  <form [formGroup]="formulario" #formAluno="ngForm">
                    <mat-accordion [multi]="true">
                      <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Informações Principais
                          </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div class="row">
                          <div class="col-md-2">
                            <div class="form-group">
                              <label>Código</label>
                              <input
                                class="form-control"
                                formControlName="id"
                              />
                            </div>
                          </div>

                          <div class="col-md-10">
                            <div class="form-group">
                              <label>Nome Completo</label>
                              <input
                                class="form-control"
                                formControlName="nome"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-2">
                            <div class="form-group">
                              <label>Matricula</label>
                              <input
                                class="form-control"
                                formControlName="matricula"
                              />
                            </div>
                          </div>

                          <div class="col-md-2">
                            <div class="form-group">
                              <label>CPF</label>
                              <input
                                class="form-control"
                                formControlName="cpf"
                              />
                            </div>
                          </div>

                          <div class="col-md-8">
                            <div
                              class="form-group"
                              *ngIf="todasTurmas$ | async as turmas"
                            >
                              <label>Turma</label>
                              <select
                                class="custom-select"
                                matNativeControl
                                formControlName="turma"
                              >
                                <option>Selecione um Registro</option>
                                <option
                                  *ngFor="let turma of turmas"
                                  [value]="turma.documentId"
                                >
                                  {{ turma.nome }}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </mat-expansion-panel>

                      <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Endereço / Telefone / Email
                          </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div class="row">
                          <div class="col-md-2">
                            <div class="form-group">
                              <label>CEP</label>
                              <input
                                class="form-control"
                                formControlName="cep"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-2">
                            <div class="form-group">
                              <label>Tipo</label>
                              <input
                                class="form-control"
                                formControlName="tipoCep"
                              />
                            </div>
                          </div>

                          <div class="col-md-7">
                            <div class="form-group">
                              <label>Endereço</label>
                              <input
                                class="form-control"
                                formControlName="endereco"
                              />
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Nº</label>
                              <input
                                class="form-control"
                                formControlName="numero"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-2">
                            <div class="form-group">
                              <label>UF</label>
                              <input
                                class="form-control"
                                formControlName="uf"
                              />
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label>Bairro</label>
                              <input
                                class="form-control"
                                formControlName="bairro"
                              />
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Cidade</label>
                              <input
                                class="form-control"
                                formControlName="cidade"
                              />
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Complemento</label>
                              <input
                                class="form-control"
                                formControlName="complemento"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-2">
                            <div class="form-group">
                              <label>Telefone</label>
                              <input
                                class="form-control"
                                formControlName="telefone"
                              />
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Contato</label>
                              <input
                                class="form-control"
                                formControlName="contato"
                              />
                            </div>
                          </div>

                          <div class="col-md-7">
                            <div class="form-group">
                              <label>E-mail</label>
                              <input
                                class="form-control"
                                formControlName="email"
                              />
                            </div>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </form>
                </div>
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
        <div class="col-xl-8 col-lg-7 col-md-12"></div>
      </div>
    </div>
  </div>
</div>
