tr {
  cursor: pointer;
}
tr.linha-coluna:not(.skip):hover {
  background: whitesmoke;
}

tr.linha-coluna:not(.skip):active {
  background: #efefef;
}

.highlight {
  background: #5c70ff94 !important;
}

.card {
  margin-bottom: 5px;
}

thead {
  background-color: #6fbce0a3 !important;
}
